table {
    width: 100%;
    margin:1rem auto;
 }


 .table-container {
    flex-direction: column;
    margin:1rem auto;
    width: 900px;
    height: 400px;
    box-shadow: -1px 3px 66px 0px rgba(0,0,0,0.75);
    padding: 1rem;
    overflow-y: auto;
    border-radius: 1rem;
}   